@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --black-color: #16142F;
    --blue-color: #201E45;
    --purple-color: #404267;
    --orange-color: #F07B7B;
    --grey-color: #C4C4C4;
    --letras-color: #BEBEFF;
    font-size: 62.5%; /* 1rem = 10px */
}

header {
    position: fixed;
    padding: 1%;
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 10%;
    background-color: #16142F;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: column;
}